/* 3.3 founder-area */

.founder-area {
	.founder-top {
		.founder-img {
			max-width: 197px;

			p {
				margin-top: 20px;
				line-height: 1.4;
				transition: transform .6s;
				transform: translate(0);
				color: $white;
				text-transform: uppercase;
				font-size: 20px;
			}
		}

		.founder-text {
			h3 {
				letter-spacing: -.055rem;
				text-transform: none;
				font-size: 3.75rem;
				font-weight: 500;
				line-height: 1.1;
				position: relative;
				color: $white;

				@media(max-width:1199px) {
					font-size: 40px;
				}

				@media(max-width:575px) {
					font-size: 30px;
				}
			}
		}
	}
}

.awards-bg-wrap {
	z-index: -1;
	border-bottom-right-radius: 2.5rem;
	border-bottom-left-radius: 2.5rem;
	width: 100%;
	display: block;
	position: absolute;
	inset: auto 0% -104rem;

	img {
		z-index: 0;
		pointer-events: none;
		width: 100%;
		height: 100%;
		display: block;
		position: relative;
		inset: 0%;
	}
}

.awards-area {
	padding-top: 120px;

	@media(max-width:575px) {
		padding-top: 60px;
	}

	.col {
		margin-bottom: 30px;
	}

	.awards-item {
		grid-column-gap: 2rem;
		grid-row-gap: 2rem;
		text-align: center;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 1.4;
		transition: all .5s;
		display: flex;
		position: relative;
		width: 100%;
		height: 100%;
		border: .0625rem solid #ffffff4d;
		border-radius: 50%;
		padding: 120px 0;
		max-width: 380px;
		margin: 0 auto;

		@media(max-width:1600px) {
			padding: 100px 0;
		}

		@media(max-width:1399px) {
			padding: 80px 0;
		}

		@media(max-width:1199px) {
			padding: 60px 0;
		}

		.awards-text {
			max-width: 17.5rem;

			p {
				font-size: 25px;
				color: $white;
				line-height: 35px;
				margin-bottom: 0;
			}
		}
	}
}

.bg-wrap {
	position: relative;
}

// service-area

.service-area {
	@media(max-width:575px) {
		padding-top: 0;
	}

	.service-wrap {
		background: $white;
		opacity: 1;
		transform-origin: 50% 0;
		border-radius: 2.5rem;
		padding: 2.5rem;
		transition: transform .8s, opacity .4s;
		overflow: hidden;
		transform: rotate(0) perspective(800px);

		@media(max-width:575px) {
			background-size: cover;
			padding: 20px;
		}

	}

	.service-item {
		background-color: #f5f5f7;
		border-radius: 1.5rem;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 0;
		padding: 2.5rem;
		display: flex;
		position: relative;
		margin-bottom: 30px;

		@include media-query(575px) {
			padding: 20px;
		}

		@media(max-width:575px) {
			flex-wrap: wrap;
		}

		.service-icon {
			display: flex;
			width: 150px;

			@include media-query(575px) {
				margin-bottom: 20px;
			}

			.icon {
				width: 70px;
				height: 70px;

				img {
					width: 100%;
				}
			}

			.link-btn {
				letter-spacing: 0;
				border: .0625rem solid #02021e4d;
				border-radius: 50%;
				flex: none;
				justify-content: center;
				align-items: center;
				width: 70px;
				height: 70px;
				line-height: 0;
				transition: all .4s;
				display: flex;
				position: relative;
				overflow: hidden;
				transform: translate(0);
				margin-left: 10px;
				z-index: 1;


				&:before {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					content: "";
					background: $dark-gray;
					transform: scale(0);
					transition: all .3s;
					border-radius: 50%;
					z-index: -1;
				}
			}
		}

		&:hover {
			.service-icon {
				.link-btn {
					border-color: transparent;
					color: $white;

					&:before {
						transform: scale(1);
					}
				}
			}
		}

		.service-content {
			h3 {
				letter-spacing: -.01em;
				margin-top: 0;
				margin-bottom: 20px;
				font-size: 35px;
				font-weight: 500;
				line-height: 1;
			}

			p {
				max-width: 27.875rem;
				font-size: 20px;
			}
		}
	}
}

.client-area {
	position: relative;
	z-index: 1;

	@media(max-width:991px) {
		padding-top: 0;
	}

	.client-item {
		text-align: center;
		border-left: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		height: 345px;
		display: flex;
		justify-content: center;
		flex-direction: column;

		@media(max-width:991px) {
			height: 150px;
		}

		@media(max-width:575px) {
			border-left: 0;
			border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		}

		.client-content {
			height: 0;
			transition: all .5s;
			overflow: hidden;
			transform: translate(0);

			p {
				font-size: 18px;
				opacity: .7;
				align-self: auto;
				max-width: 17.75rem;
				height: auto;
				padding-top: 1.5rem;
				overflow: visible;
				color: $white;
				margin: 0 auto;
			}
		}

		&:hover {
			.client-content {
				height: 8rem;
			}
		}
	}

	.col {

		&:first-child,
		&:nth-child(5) {
			.client-item {
				border-left: 0;
			}
		}

		&:nth-child(3),
		&:nth-child(7) {
			.client-item {
				@media(max-width:991px) {
					border-left: 0;
				}
			}
		}

		&:nth-child(n+5) {
			.client-item {
				border-bottom: 0;

				@media(max-width:991px) {
					border-bottom: 1px solid rgba(255, 255, 255, 0.3);
					;
				}
			}
		}
	}
}


/* 3.3 testimonial-area */

.testimonial-area {
	.testimonial-top {
		.testimonial-top-img {
			display: flex;
			align-items: center;
			padding: 20px;
			border: 1px solid $white;
			max-width: 315px;
			text-align: center;
			border-radius: 80px;

			@media(max-width:991px) {
				margin-bottom: 20px;
			}

			p {
				line-height: 1.4;
				transition: transform .6s;
				transform: translate(0);
				color: $white;
				text-transform: uppercase;
				font-size: 20px;
				padding-left: 20px;
				margin-bottom: 0;

				@media(max-width:1999px) {
					font-size: 17px;
				}
			}

			span {
				border-right: 1px solid $white;
				padding-right: 20px;
			}
		}

		.testimonial-text {
			h3 {
				letter-spacing: -.055rem;
				text-transform: none;
				font-size: 3.75rem;
				font-weight: 500;
				line-height: 1.1;
				position: relative;
				color: $white;

				@media(max-width:1199px) {
					font-size: 40px;
				}

				@media(max-width:575px) {
					font-size: 30px;
				}
			}
		}
	}

	.testimonial-left {
		position: relative;
		max-width: 450px;
		margin: 0 auto;

		@media(max-width:991px) {
			display: none;
		}

		.man-img {
			position: absolute;
			top: auto;
			bottom: 2.4375rem;
			left: 0;
		}

		.testimonial-left-text {
			position: relative;

			h2 {
				font-size: 5rem;
				line-height: 1;
				color: $white;
				margin-bottom: 40px;
			}

			h3 {
				letter-spacing: -.01em;
				text-transform: none;
				font-size: 1.75rem;
				font-weight: 500;
				line-height: 1.2;
				color: $white;
				margin-bottom: 40px;
			}
		}

		.slide-btns {
			button {
				width: 60px;
				height: 60px;
				line-height: 60px;
				border-radius: 50%;
				background: $white;
				border: 0;
				color: $dark-gray;

				&.next {
					margin-left: 10px;
				}
			}
		}
	}

	.testimonial-right {
		margin-right: -100px;

		@media(max-width:1500px) {
			margin-right: -180px;
		}

		@media(max-width:1399px) {
			margin-right: -200px;
		}

		@media(max-width:575px) {
			margin-right: 0;
		}
	}

	.testimonial-wrap {
		padding-top: 200px;

		@media(max-width:991px) {
			padding-top: 80px;
		}
	}

	.testimonial-item {
		grid-column-gap: 2.5rem;
		grid-row-gap: 2.5rem;
		background-color: $white;
		border-radius: 1.5rem;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;
		width: 100%;
		padding: 2.5rem;
		display: flex;
		position: relative;


		@media(max-width:1500px) {
			padding: 1.5rem;
		}

		p {
			font-size: 20px;

			@media(max-width:1700px) {
				font-size: 16px;
				margin-bottom: 0;
			}
		}


		.ratting {
			display: flex;
			align-items: center;
			padding-bottom: 30px;
			border-bottom: 1px solid rgba(217, 204, 204, 0.3);

			span {
				font-size: 30px;
				margin-right: 10px;
				color: $dark-gray;
			}

			ul {
				display: flex;

				li {
					color: #fdc448;
					font-size: 20px;

					&+li {
						margin-left: 3px;
					}
				}
			}
		}

		.bottom-info {
			display: flex;
			align-items: center;

			.info-img {
				margin-right: 15px;

				img {
					border-radius: 50%;
				}
			}

			.info-text {
				span {
					color: $theme-primary-color-s2;
				}
			}
		}

	}
}


// project-area

.project-area {
	@media(max-width:575px) {
		padding-top: 0;
	}

	.project-wrap {
		opacity: 1;
		transform-origin: 50% 0;
		border-radius: 2.5rem;
		padding: 2.5rem;
		transition: transform .8s, opacity .4s;
		overflow: hidden;
		transform: rotate(0) perspective(800px);
		background: $white;

		@media(max-width:575px) {
			background-size: cover;
			padding: 20px;
		}

		.project-right {
			video {
				width: 100%;
			}
		}

		.project-item {
			grid-column-gap: 1.5rem;
			grid-row-gap: 1.5rem;
			background-color: var(--grey-light);
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			padding: 2.5rem;
			display: flex;

			@media(max-width:575px) {
				padding: .5rem;
				margin-bottom: 30px;
			}
		}

		.project-icon {
			margin-bottom: 30px;
		}

		.project-content {
			h3 {
				font-size: 50px;
				margin-bottom: 30px;

				@media(max-width:575px) {
					font-size: 30px;
				}
			}

			p {
				font-size: 20px;
			}

		}

		.country {
			margin-top: 30px;

			@media(max-width:575px) {
				margin-top: 15px;
			}

			small {
				padding-left: 20px;
				margin-left: 20px;
				border-left: 1px solid #ebebeb;

				img {
					max-width: 30px;
				}
			}
		}

	}

	.slide-btns {
		margin-top: 20px;

		button {
			width: 60px;
			height: 60px;
			line-height: 60px;
			border-radius: 50%;
			background: $white;
			border: 0;
			color: $dark-gray;

			&.next {
				margin-left: 10px;
			}
		}
	}

}


// benefits-area

.benefits-area {
	position: relative;
	overflow: hidden;

	.section-title {
		h2 {
			color: $white;
		}
	}

	.bg-2 {
		z-index: -1;
		border-bottom-right-radius: 2.5rem;
		border-bottom-left-radius: 2.5rem;
		width: 100%;
		display: block;
		position: absolute;
		inset: auto 0% 0%;
		overflow: hidden;

		img {
			z-index: 0;
			pointer-events: none;
			width: 100%;
			height: 100%;
			display: block;
			position: relative;
			inset: 0%;
		}
	}

	.benefits-item {
		grid-column-gap: 2.5rem;
		grid-row-gap: 2.5rem;
		border-radius: 1.5rem;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;
		width: 100%;
		padding: 2.5rem;
		display: flex;
		position: relative;
		margin-bottom: 30px;
		background: $white;

		h2 {
			font-size: 60px;
			padding-bottom: 60px;
			margin-bottom: 60px;
			border-bottom: 1px solid #ebebeb;

			@media(max-width:991px) {
				padding-bottom: 30px;
				margin-bottom: 30px;
			}
		}

		h3 {
			font-size: 30px;
			margin-bottom: 30px;
		}
	}
}

// blog-area

.blog-area {
	.blog-top {
		margin-bottom: 100px;

		.blog-text {
			h3 {
				letter-spacing: -.055rem;
				text-transform: none;
				font-size: 3.75rem;
				font-weight: 500;
				line-height: 1.1;
				position: relative;
				color: $white;

				@media(max-width:1199px) {
					font-size: 40px;
				}

				@media(max-width:575px) {
					font-size: 30px;
				}
			}
		}
	}

	.blog-item {
		grid-column-gap: 2.5rem;
		grid-row-gap: 2.5rem;
		border-radius: 1.5rem;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;
		width: 100%;
		padding: 40px 30px;
		display: flex;
		position: relative;
		background: $white;
		margin-bottom: 30px;

		@media(max-width:1500px) {
			padding: 1.5rem;
		}

		.blog-img {
			img {
				width: 100%;
				max-height: 300px;
				object-fit: cover;
				border-radius: 1.5rem;
			}
		}

		.blog-content {
			h2 {
				font-size: 30px;
				margin-bottom: 20px;

				@media(max-width:575px) {
					font-size: 25px;
				}

				a {
					&:hover {
						color: $theme-primary-color;
					}
				}
			}

			p {
				font-size: 20px;
				margin-bottom: 20px;

				@media(max-width:575px) {
					font-size: 18px;
				}
			}

			span {
				font-size: 18px;
				text-transform: uppercase;
			}
		}
	}
}

// discuss-area
.discuss-area {
	position: relative;
	border-radius: 2.5rem;
	z-index: 1;

	.discuss-wrap {
		margin-right: auto;
		padding: 120px 80px;
		text-align: center;
		background: $white;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		max-width: 1250px;
		margin-left: auto;
		display: flex;
		overflow: hidden;
		border-radius: 70px;

		@media(max-width:991px) {
			padding: 80px 50px;
			background-size: cover;
		}

		@media(max-width:575px) {
			padding: 50px 20px;
		}

		h2 {
			font-size: 70px;
			letter-spacing: -.01em;
			text-transform: none;
			font-weight: 700;
			line-height: 1;
			margin-bottom: 40px;

			@media(max-width:991px) {
				font-size: 50px;
			}

			@media(max-width:575px) {
				font-size: 30px;
				margin-bottom: 20px;
			}
		}

		p {
			font-size: 25px;
			margin-bottom: 30px;

			@media(max-width:575px) {
				font-size: 18px;
			}
		}

		.discuss-text-wrap {
			flex-flow: column;
			align-items: center;
			max-width: 800px;
			display: flex;
		}
	}

	.clients-item {
		margin-bottom: 20px;

	}

	.clients {
		max-width: 1250px;
		margin: 0 auto;
		padding-top: 60px;
		text-align: center;

		p {
			font-size: 14px;
			color: $white;
			text-transform: uppercase;
			max-width: 180px;
			margin: 0 auto;
			margin-top: 30px;
		}
	}

	.video {
		z-index: 0;
		object-fit: cover;
		width: 100%;
		height: 100%;
		position: absolute;
		inset: 0%;
		z-index: -1;

		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 2.5rem;
		}
	}
}


// process-area

.section-top {
	.thumb {
		span {
			display: inline-block;
			padding: 10px 20px;
			border: 1px solid #ffffff4d;
			text-align: center;
			letter-spacing: .05em;
			text-transform: uppercase;
			border-radius: 6.25rem;
			justify-content: center;
			align-items: center;
			color: $white;
			font-size: 18px;
		}
	}

	.title-text {
		h3 {
			letter-spacing: -.055rem;
			text-transform: none;
			font-size: 3.75rem;
			font-weight: 500;
			line-height: 1.1;
			position: relative;
			color: $white;

			@media(max-width:1199px) {
				font-size: 40px;
			}

			@media(max-width:575px) {
				font-size: 30px;
			}
		}
	}
}

.process-area {

	.process-img {
		text-align: center;
		padding-top: 100px;
	}
}

// exprience-area

.exprience-area {
	@media(max-width:575px) {
		padding-top: 0;
	}

	.exprience-top {
		position: relative;
	}

	.sa-tes_button {
		@media (max-width: 575px) {
			text-align: center;
			top: -30px;
			position: relative;
		}

	}

	.sa-tes_button .sa-swiper-btn {
		right: 0;
		left: auto;
		top: 100px;
		font-size: 18px;
		width: 3.5rem;
		height: 3.5rem;
		z-index: 1;
		color: $black;
		border: 1px solid #e7e8ec;
		border-radius: 50%;
		background: none;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;

		@media (max-width: 575px) {
			top: 0;
			right: 0;
		}

	}

	.sa-tes_button .sa-swiper-btn.swiper-button-prev {
		right: 62px;
	}

	@media (max-width: 575px) {
		.sa-tes_button .sa-swiper-btn {
			position: relative;
			right: 0 !important;
			display: inline-flex;
			margin-top: 0;
		}
	}

	.sa-tes_button .sa-swiper-btn i {
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
	}

	.sa-tes_button .sa-swiper-btn::after,
	.sa-tes_button .sa-swiper-btn::before {
		display: none;
	}

	.sa-tes_button .sa-swiper-btn:hover {
		background: $black;
	}

	.sa-tes_button .sa-swiper-btn:hover i {
		color: #fff;
	}


	.exprience-wrap {
		background: $white;
		opacity: 1;
		transform-origin: 50% 0;
		border-radius: 2.5rem;
		padding: 2.5rem;
		transition: transform .8s, opacity .4s;
		overflow: hidden;
		transform: rotate(0) perspective(800px);

		@media(max-width:575px) {
			background-size: cover;
			padding: 20px;
		}

	}

	.exprience-item {
		background-color: #f5f5f7;
		border-radius: 1.5rem;
		margin-bottom: 0;
		padding: 2.5rem;
		position: relative;
		margin-bottom: 30px;

		@include media-query(575px) {
			padding: 20px;
		}

		@media(max-width:575px) {
			flex-wrap: wrap;
		}

		.exprience-icon {
			display: flex;
			justify-content: center;
			margin-bottom: 50px;

			@include media-query(575px) {
				margin-bottom: 20px;
			}

			.icon {

				img {
					width: 100%;
				}
			}

		}

		.exprience-content {
			display: flex;
			align-items: center;
			justify-content: space-between;

			h3 {
				letter-spacing: -.01em;
				margin-top: 0;
				margin-bottom: 20px;
				font-size: 35px;
				font-weight: 500;
				line-height: 1;
				max-width: 270px;

				@media(max-width:991px) {
					font-size: 25px;
				}
			}

			.link-btn {
				letter-spacing: 0;
				border: .0625rem solid #02021e4d;
				border-radius: 50%;
				flex: none;
				justify-content: center;
				align-items: center;
				width: 50px;
				height: 50px;
				line-height: 0;
				transition: all .4s;
				display: flex;
				position: relative;
				overflow: hidden;
				transform: translate(0);
				margin-left: 10px;
				z-index: 1;


				&:before {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					content: "";
					background: $dark-gray;
					transform: scale(0);
					transition: all .3s;
					border-radius: 50%;
					z-index: -1;
				}
			}

		}

		&:hover {
			.link-btn {
				border-color: transparent;
				color: $white;

				&:before {
					transform: scale(1);
				}
			}
		}

		&.exprience-des {
			background: #3719ca;

			.exprience-content {
				display: flex;
				align-items: center;
				justify-content: space-between;

				h3 {
					max-width: 290px;
					color: $white;
					margin-top: 55px;
					margin-bottom: 55px;
				}

			}

			.exprience-image {
				img {
					border-radius: 50%;
				}
			}
		}
	}
}

.section-title.s2 {
	h2 {
		color: $white;
	}
}

// cases-area 

.cases-area {
	.cases-item {
		background: $white;
		border-radius: 30px;
		margin-bottom: 40px;

		.cases-img {
			img {
				border-top-left-radius: 30px;
				border-top-right-radius: 30px;
			}

			position: relative;

			.link-btn {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 80px;
				height: 80px;
				line-height: 80px;
				text-align: center;
				line-height: 80px;
				background: $white;
				border-radius: 50%;
				transform: translate(-50%, -50%);
				opacity: 0;
				visibility: hidden;
				transition: all .6s;
				font-size: 20px;

				&:hover {
					background: #3719ca;
					color: $white;
				}
			}

			&::before {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				content: "";
				background: rgba(0, 0, 0, 0.5);
				opacity: 0;
				visibility: hidden;
				transition: all .6s;
			}
		}

		&:hover {
			.cases-img {
				.link-btn {
					opacity: 1;
					visibility: visible;
				}

				&::before {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		.cases-content {
			padding: 30px;

			h3 {
				letter-spacing: -.01em;
				text-transform: none;
				font-size: 30px;
				font-weight: 500;
				line-height: 1.2;
				margin-top: 20px;

				@media(max-width:575px) {
					font-size: 20px;
				}
			}

			.country {
				margin-top: 30px;

				@media(max-width:575px) {
					margin-top: 15px;
				}

				small {
					padding-left: 20px;
					margin-left: 20px;
					border-left: 1px solid #ebebeb;

					img {
						max-width: 30px;
					}
				}
			}
		}
	}
}


// technology-area

.technology-area {
	.technology-items {
		display: flex;
		grid-row-gap: 2rem;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-left: -1rem;
		align-items: stretch;
		margin-right: -1rem;

		.technology-item {
			opacity: 1;
			flex: 0 auto;
			justify-content: center;
			align-items: center;
			width: 25%;
			padding-left: 1rem;
			padding-right: 1rem;
			transition: transform .6s, opacity .4s;
			display: flex;
			transform: translate(0);

			@media screen and (max-width: 767px) {
				width: 33.33%;
			}

			@media screen and (max-width: 550px) {
				width: 50%;
			}

			.technology-inner {
				width: 19rem;
				height: 19rem;

				@media screen and (max-width: 991px) {
					width: 10.25rem;
					height: 10.25rem;
				}
			}

			@media screen and (max-width: 991px) {
				.technology-icon img {
					width: 4rem;
					margin-top: .5rem;
				}
			}

			.technology-item-wrap {
				grid-column-gap: 2rem;
				grid-row-gap: 2rem;
				text-align: center;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				width: 100%;
				height: 100%;
				padding-top: 4.5rem;
				font-size: 1.25rem;
				font-weight: 500;
				line-height: 1.4;
				transition: all .5s;
				display: flex;
				position: relative;

				@media screen and (max-width: 991px) {
					padding-top: 1.5rem;
				}

				.round-border {
					z-index: 2;
					pointer-events: none;
					border: .0625rem solid #ffffff4d;
					border-radius: 50%;
					width: 100%;
					height: 100%;
					transition: border-color .4s, left .5s, top .5s, height .5s, width .5s;
					position: absolute;
					inset: 0%;
					overflow: hidden;
					transform: translate(0);
				}

				h3 {
					color: $white;

					@media screen and (max-width: 991px) {
						font-size: .875rem;
					}
				}
			}
		}
	}
}

// choose-area

.choose-area {
	position: relative;
	overflow: hidden;

	.section-title {
		h2 {
			color: $white;
		}
	}

	.choose-item {
		grid-column-gap: 2.5rem;
		grid-row-gap: 2.5rem;
		border-radius: 1.5rem;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;
		width: 100%;
		padding: 2.5rem;
		display: flex;
		position: relative;
		margin-bottom: 30px;
		background: #3719ca;

		.icon {
			margin-bottom: 30px;
		}

		h3 {
			font-size: 30px;
			padding-top: 40px;
			margin-top: 60px;
			margin-bottom: 30px;
			border-top: 1px solid rgb(90 70 189);
			color: $white;

			@media(max-width:991px) {
				padding-bottom: 30px;
				margin-bottom: 30px;
			}
		}

		p {
			color: $white;
		}
	}
}


// faq-area

.faq-area {
	.faq-left-text {
		background: $white;
		padding: 30px;
		border-radius: 20px;

		@media(max-width:575px){
			padding: 20px;
		}

		.faq-left-author {
			display: flex;
			align-items: center;

			@media(max-width:575px){
				flex-wrap: wrap;
			}

			.faq-img {
				border-radius: 50%;
				max-width: 150px;
				margin-right: 20px;

				img {
					border-radius: 50%;
				}
			}

			.faq-text {
				h3 {
					font-size: 25px;
				}

				span {
					font-size: 18px;
				}
			}
		}

		p {
			font-size: 30px;
			margin-top: 30px;
			margin-bottom: 30px;

			@media(max-width:575px){
				font-size: 20px;
			}
		}
	}

	.faq-items {
		padding-left: 50px;

		@media(max-width:991px){
			padding-left: 0px;
			padding-top: 50px;
		}
	}

	.accordion-item {
		background: none;
		border: 0;
		border-bottom: 1px solid #4b4b52;

		button {
			width: 100%;
			text-align: left;
			font-size: 25px;
			font-weight: 500;
			padding: 40px;
			background: none;
			color: $white;
			border: 0;
			padding-left: 0;
			position: relative;

			&::before {
				position: absolute;
				right: 0;
				top: 50%;
				content: "\e64b";
				font-family: 'themify';
				transform: translateY(-50%);
				width: 40px;
				height: 40px;
				line-height: 40px;
				color: $white;
				border-radius: 50%;
				text-align: center;
				transition: all .3s;
				font-size: 16px;
			}

			&.active {
				&::before {
					background: #3719ca;
					content: "\e648";
				}

			}
		}

		p {
			font-size: 18px;
			color: $white;
			margin-bottom: 40px;
		}
	}
}

// related-area

.related-area {
	.related-item {
		grid-column-gap: 2.5rem;
		grid-row-gap: 2.5rem;
		border-radius: 1.5rem;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;
		width: 100%;
		padding: 2.5rem;
		display: flex;
		position: relative;
		margin-bottom: 30px;
		background: #fff;

		.icon {
			margin-bottom: 30px;
		}

		h3 {
			font-size: 30px;
			margin-bottom: 30px;

			@media(max-width:991px) {
				padding-bottom: 30px;
				margin-bottom: 30px;
			}
		}

		p {
			padding-bottom: 40px;
			margin-bottom: 60px;
			border-bottom: 1px solid #b9b8bf;
			font-size: 20px;
		}
	}
}