.btn-style-1,
.btn-style-2 {
	background: $dark-gray;
	color: $black;
	display: inline-block;
	font-weight: 500;
	padding: 15px 35px;
	padding-right: 60px;
	border: 0;
	z-index: 1;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	font-family: $heading-font;
	border-radius: 6px;
	position: relative;
	overflow: hidden;
	border-radius: 40px;
	text-transform: uppercase;
	border: 1px solid $dark-gray;

	&::before {
		position: absolute;
		content: "";
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: $white;
		transform-origin: 50%;
		transition-property: transform;
		transition-duration: 0.3s;
		transition-timing-function: ease-out;
		transition: 0.5s;
		z-index: -1;
	}

	&:after {
		position: absolute;
		right: 30px;
		top: 18px;
		content: "\e628";
		font-family: "themify";
		transition: all 0.3s;

		@include media-query(767px) {
			top: 14px;
		}
	}

	.hover-text {
		position: absolute;
		left: 0;
		top: 70%;
		opacity: 0;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		display: block;
		width: 100%;
		text-align: center;
		padding: 15px 35px;
		padding-right: 60px;
	}


	&.btn-style-1-s4 {
		background: $white;
		color: $white;

		&:after {
			border: 1px solid $theme-primary-color;
		}
	}

	.hover-text,
	.main-text {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		text-align: center;
		display: block;
	}

	&:hover,
	&:focus,
	&:active {
		color: $white;

		&:before {
			transform: scaleX(0);
		}

		span {
			display: block;
			-webkit-transition: all 0.15s ease-in-out 0s;
			-o-transition: all 0.15s ease-in-out 0s;
			transition: all 0.15s ease-in-out 0s;
		}

		.hover-text {
			opacity: 1;
			top: 50%;
			transform: translateY(-50%);
		}

		.main-text {
			transform: translate3d(0, -12px, 0);
			opacity: 0;
		}
	}

	&:hover:after {
		opacity: 1;
	}

	@include media-query(991px) {
		font-size: 18px;
		font-size: calc-rem-value(18);
	}

	@include media-query(767px) {
		padding: 12px 18px;
		padding-right: 55px;
		font-size: 14px;
	}
}

.btn-style-2 {
	font-style: normal;
	background: $white;
	color: $white;

	&:before {
		background-color: $dark-gray;
	}

	&:hover {
		color: $dark-gray;
	}
}